################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebAPI/bin/Debug/net6.0/appsettings.Development.json
/WebAPI/.vs/*
/WebAPI/bin/Debug/net6.0
/WebAPI/obj/Debug/net6.0

/Database/bin/Debug/net6.0
/Database/obj/Debug/net6.0

/Service/bin/Debug/net6.0
/Service/obj/Debug/net6.0
/WebAPI/appsettings.Development.json
/WebAPI/appsettings.Uat.json
